[Unit]
Description=Attunity Replicate Server
After=network.target

[Service]
Type=simple
User={{ qlik_user }}
Group={{ qlik_group }}

Environment=REPLICATE_HOME=/opt/attunity/replicate

ExecStart=/opt/attunity/replicate/bin/replicate
ExecStop=/bin/kill -15 $MAINPID

Restart=always
RestartSec=10

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target